.button_type_close {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/cross.svg);
  background-size: cover;
  transform: rotate(45deg);
  position: absolute;
  top: -44px;
  right: -44px;
}