.button_type_close {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/cross.svg);
  background-size: cover;
  transform: rotate(45deg);
  position: absolute;
  top: -44px;
  right: -44px;
}

@media screen and (max-width: 618px) {
  .button_type_close {
    width: 26px;
    height: 26px;
    top: -39px;
    right: -3px;
  }
}