.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 41px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin: 45px 0 41px 27px;
  }
}

@media screen and (max-width: 618px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 29px 0 31px 27px;
  }
}