.form__submit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: calc(100% - 72px);
  height: 50px;
  color: #fff;
  background-color: #000;
  margin: 48px 0 37px;
  border-radius: 2px;
}

@media screen and (max-width: 618px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    width: calc(100% - 44px);
    height: 46px;
    margin: 45px 0 25px;
  }
}