.form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0;
  margin: 18px 0 0;
}

.form__input:focus {
  outline: none;
  border: 1px solid #000;
}