.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin: 0 auto 0 30px;
  max-width: 430px;
}

@media screen and (max-width: 800px) {
  .profile__info {
    max-width: 270px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 618px) {
  .profile__info {
    max-width: 240px;
    margin: 26px 0 31px 27px;
  }
}